<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title></title>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/underscore.js/1.13.1/underscore.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/backbone.js/1.4.0/backbone.js"></script>
</head>

<body>

  <script type="text/template" id="template-list">
      <span><%= title %></span> <small class="pull-right"><%= create_time %></small>
    </script>

  <script src="./app.js"></script>
</body>

</html>
