body {
  background-color: #2f3542;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
    zoom: 3;
}

.logo_text {
  font-family: "PingFang SC";
  font-size: 80px;
  fill: none;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 10 800;
  stroke-dashoffset: 10;
  animation: 3s linear 0s drawing forwards infinite;
}

@keyframes drawing {
  to {
    stroke-dasharray: 800;
    stroke-dashoffset: 0;
  }
}
