<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<!--
  {{each target}}
      {{$index}} {{$value}}
  {{/each}}

  <% for(var i = 0; i < target.length; i++){ %>
      <%= i %> <%= target[i] %>
  <% } %>


  target 支持 array 与 object 的迭代，其默认值为 $data。
  $value 与 $index 可以自定义：{{each target val key}}。
 -->
</body>
</html>
